*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
}

/* -------- PÁGINA -------------*/
.page{
    background: rgb(0,116,116);
background: linear-gradient(0deg, rgba(0,116,116,1) 0%, rgba(0,81,117,1) 26%, rgba(15,14,7,1) 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-evenly;
    align-items: center;


}

.logo-box{
    /*background-color: green;*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;

}

.logo-btn{
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.logo{
    filter: invert(0.7);
    height: 100%;
    opacity: 0.7;
    transition: 0.5s;

}

.logo:hover{
    scale: 1.1;
    opacity: 1;
}

.logo:active{
    scale: 1.3;
}


.links{
    /*background-color: tomato;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 70%;

}

.clothes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(10, 10, 10, 0);
    border-radius: 2rem;
    width: 30%;
    height: 100%;
    transition: 0.5s;
    opacity: 0.3;
}



.clothes:hover{
    background-color: rgba(10, 10, 10, 0.185);
    box-shadow: 0 3px 10px rgb(0, 0, 0);
    scale: 1.02;
    opacity: 1;
    border: 1px solid rgb(59, 59, 59);
}




.loja-montink{
    width: 85%;

}

.premium{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(10, 10, 10, 0);
    border-radius: 2rem;
    width: 30%;
    height: 100%;
    transition: 0.5s;
    opacity: 0.3;
}

.premium:hover{
    background-color: rgba(10, 10, 10, 0.185);
    box-shadow: 0 3px 10px rgb(0, 0, 0);
    scale: 1.02;
    opacity: 1;
    border: 1px solid rgb(59, 59, 59);
}

.premium-img{
    width: 70%;
}

.acessories{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(10, 10, 10, 0);
    border-radius: 2rem;
    width: 30%;
    height: 100%;
    transition: 0.5s;
    opacity: 0.3;

}

.acessories:hover{
    background-color: rgba(10, 10, 10, 0.185);
    box-shadow: 0 3px 10px rgb(0, 0, 0);
    scale: 1.02;
    opacity: 1;
    border: 1px solid rgb(59, 59, 59);
}


.bag-img{
    width: 62%;

}

.clothes a, .acessories a, .premium a{
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    }

.clothes:active{
    scale: 1;
}

.acessories:active{
    scale: 1;
}

.premium:active{
    scale: 1;
}

h1{
    font-family: "Inter", sans-serif;
    color: rgb(161, 161, 161);

}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}