/* configurações */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    display: none;
    
}

/* raiz */
:root{
    --texto: #FBFFFE;
    --fundo: #06080C;
    --azul: #119DA4;
    --amarelo: #E6AF2E;
    --verde: #306B34;

    font-size: 62.5%; /* 1 rem = 10 px*/
}

/* ESTILOS */

body{
    background-color: var(--fundo);
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.cabecalho{
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    height: 8rem;
    background-color: var(--fundo);
    box-shadow: 0px 5px 10px #0f0f0f;
    align-content: center;
    z-index: 1;

}

.navegador{
    position: fixed;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;

}

.navegador img{
    height: 5rem;
    cursor: pointer;
    margin-left: 1rem;
}

.cabecalho h1{
    text-align: center;
    margin: auto;
    color: var(--texto);
    text-shadow: 0 1px 3px #979797;
    font-size: 3rem;

}

.cabecalho ion-icon{
    margin-right: 2rem;
    height: 3rem;
    width: 3rem;
    color: var(--texto);
    display: none;
}

#mobile_menu_btn{
    display: none;
}

/* MENU */

.menu.hidden{
    position: fixed;
    left: 0;
    top: 8rem;
    width: 5rem;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;

}

.menu.hidden .item_lista{
    opacity: 0;
}

.menu{
    background-color: var(--fundo);
    position: fixed;
    left: 0;
    top: 8rem;
    width: 20vw;
    height: 100%;
    box-shadow: 0px 5px 15px #292929;
    overflow: hidden;
    transition: 0.5s;

}

.menu ion-icon{
    color: var(--texto);
    height: 5rem;
    width: 5rem;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
}

.menu ion-icon:hover{
    opacity: 1;
}

.lista_menu{
    /* background-color: tomato; */
    height: 100%;
}

.item_lista{
    color: var(--texto);
    padding-left: 1rem;
    margin-top: 3rem;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;


}


.item_lista:hover{
    opacity: 1;
}

.item_lista a{
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    overflow: hidden;
    text-decoration: none;
    width: 30rem;
    color: var(--texto);
    font-size: 1.5rem;
    font-weight: 600;
}

.item_lista a ion-icon{
    height: 3rem;
}

/* MENU MOBILE */

.mobile_menu{
    display: none;
}



/* PÁGINAS */

.container{
    top: 8rem;
    flex-direction: column;
    justify-content: start;
    gap: 8rem;
}

.page{
    margin-left: 5rem;
    width: 95vw;
    height: 85vh;
    transition: 0.3s;
}

.page.pagemin{
    margin-left: 20vw;
    width: 80vw;
    transition: 0.3s;
}


.iframe{
    width: 100%;
    height: 100%;
    margin-top: 8rem;
}


#premium #apoiar{
    height: 80vh;
}

#premium{
    background-image: url(/html/images/Store-page/fundo-premium.jpg);
    background-size: cover;
    background-attachment:fixed;
    margin-top: 8rem;
    
}

/* PÁGINA APOIAR */
#apoiar{
    height: 80vh;
    /* background-color: tomato; */

}


#apoiar a{
    text-decoration: none;
}

#apoiar h1{
    text-align: center;
    font-size: 2rem;
    color: var(--texto);
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
    animation: pulsar ease-in-out 2s infinite;

}

@keyframes pulsar {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.1;
    }
    100%{
        scale: 1;
    }
}

#apoiar h1:hover{
    opacity: 1;
}


.text_box{
    padding: 2rem;
    width: 100%;
    height: 100%;
    color: var(--texto);
    overflow: auto;
}

.text_box a{
    font-weight: 600;
    color: rgb(0, 217, 255);
}

.text_box h2{
    padding-left: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.text_box p{
    text-align: justify;
    font-size: 1.5rem;
    font-weight: 200;
}

.chave_pix_box{
    display: flex;
    margin-left: 50%;
    transform: translate(-50%);
    gap: 5rem;

}

.chave_pix_box p{
    text-align: center;
}

.chave_pix_box h2{
    text-align: center;
    font-size: 2rem;
    color: #4F772D;
}

.chave_aleatoria{
    align-content: center;

}

.chave_qrcode img{
    width: 15rem;
    height: 15rem;
}





