@media screen and (max-width: 768px){


.logo-box{
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6rem;
    padding: 0;

}

.logo-btn{
    height: 80%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}


.logo:hover{
    scale: 1.05;
    opacity: 1;
}

.logo:active{
    scale: 1;
}


.links{
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    gap: 2rem;
    width: 100vw;
    height: 100%;
    overflow-y: auto;
}

.links::-webkit-scrollbar{
    display: none;
}

.clothes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(10, 10, 10, 0);
    border-radius: 2rem;
    width: 70%;
    transition: 0.5s;
    opacity: 0.3;
}


.clothes:hover{
    background-color: rgba(10, 10, 10, 0.185);
    box-shadow: 0 3px 10px rgb(0, 0, 0);
    scale: 1.02;
    opacity: 1;
    border: 1px solid rgb(59, 59, 59);
}


.loja-montink{
    width: 100%;
    height: 60%;

}


.premium{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(10, 10, 10, 0);
    border-radius: 2rem;
    width: 70%;
    transition: 0.5s;
    opacity: 0.3;
    padding: 1rem;
}

.premium:hover{
    background-color: rgba(10, 10, 10, 0.185);
    box-shadow: 0 3px 10px rgb(0, 0, 0);
    scale: 1.02;
    opacity: 1;
    border: 1px solid rgb(59, 59, 59);
}

.premium-img{
    /* background-color: aqua; */

}

.acessories{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(10, 10, 10, 0);
    border-radius: 2rem;
    width: 70%;
    transition: 0.5s;
    opacity: 0.3;
    padding: 1rem;

}

.acessories:hover{
    background-color: rgba(10, 10, 10, 0.185);
    box-shadow: 0 3px 10px rgb(0, 0, 0);
    scale: 1.02;
    opacity: 1;
    border: 1px solid rgb(59, 59, 59);
}




.clothes a, .acessories a, .premium a{
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }


.clothes:active{
    scale: 1;
}

.acessories:active{
    scale: 1;
}

.premium:active{
    scale: 1;
}

h1{
    font-family: "Inter", sans-serif;
    color: rgb(161, 161, 161);

}

.title{
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
}