@charset "UFT-8";

/* MOBILE RETRATO -------------------------------------------------------------*/

/* NAVEGADOR SUPERIOR */

@media screen and (max-width: 1000px){

    /* INTERFACE --------------------------------------------------*/
    .interface{
        width: 100vw;
        height: 100vh;
    }

    /* MENU INFERIOR ----------------------------------------------*/
    nav.menu{
        display: none;
    }

    nav.menu-inferior{
        background-color: #0D0A0B;
        width: 100%;
        height: 2.5rem;
        bottom: 0;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-top-right-radius: 0;
        box-shadow: 0 -3px 5px black;
    }

    nav.menu-inferior:hover{
        box-shadow: 0 -5px 7px black;
    }

    nav.menu-inferior ul{
        list-style: none;
        /* background-color: blueviolet; */
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 1rem;
        margin: auto;
    }
    
    ul li.item-menu.inferior{
        /* background-color: orangered; */
        transition: 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        height: 100%;
        margin: auto;
    }
    
    ul li.item-menu.inferior:hover{
        background-color: rgba(68, 68, 68, 0.418);
    
    }
    

    /* LISTA SUPERIOR --------------------------------------------*/
    .nav-list{
        display: none;
    }


    /* LISTA LATERAL ---------------------------------------------*/
    #nav-list-02{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #121212f6;
    }


    .nav-list ul{
        /* background-color: blue; */
        width: 98%;
        display: flex;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        align-items: start;
        gap: 1rem;
        margin-top: 1rem;
        overflow-y: auto;

    }


    /*TEXTOS DOS TÍTULOS DE NAVEGAÇÃO*/
    .nav-list li{
        /* background-color: blueviolet; */
        transition: 0.2s ease-in-out;
        width: 100%;
        height: 3rem;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 1rem;


    }

    .nav-list li:hover{
        /* background-color: rgb(29, 29, 29); */
        border: none;
    }

    .nav-list a{
        text-decoration: none;
        color: rgb(219, 219, 219);
        font-weight: 600;
        font-size: 1.2rem;
        display: flex;
        align-items:center;
        justify-content: center;
        width: 100%;
        gap: 0.5rem;
    }


    /* MENU HAMBURGUER DO NAVEGADOR LATERAL */
    #outlined-02{
        display: block;
        padding: 0;
    }


    /* CAIXA DE PESQUISA */

    .inp-search{
        /* background-color: aqua; */
        margin-right: -50rem;
        width: 1px;
        height: 1px;
        opacity: 0;
        transition: 0.5s;
        
    }

    .inp-search.buscando{
        transition: 0.3s;
        margin-right: -1rem;
        width: 100%;
        opacity: 1;
    }


    /* ÍCONE DE PESQUISA */
    .search-icon{
        display: block;
    }


    /* MENU DO USUÁRIO */
    nav.usermenu{
        width: 100%;
        margin: 0;
    }

    nav.usermenu.expandir-user-menu{
        height: 80vh;
    }

    .user-friends{
        height: 40%;

    
    }

    /* PÁGINA DE LANÇAMENTOS -----------------------------------------*/

    /* BOTÃO DE NAVEGAÇÃO */
    .slide{
        display: none;
    }

    /* OVERFLOW DO CARROSSEL */
    .overflow{
        /* background-color: tomato; */
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 100vw;
        height: 100%;
        
    
    }

    /* TÍTULO DA PÁGINA INICIAL */
    .new-title{
        color: white;
        font-size: 1.2rem;
        margin-top: 1rem;
        display: block;
    }

    /* CAIXA DO CARROSSEL */
    .carrossel-box{
        /* background-color: blue; */
        width: 100%;
        gap: 2rem;
        padding-left: 0;
        padding-right: 0;
        padding-top: 2rem;
        display: block;
        overflow-y: auto;  


    }

    /* SCROLLBAR */
    .carrossel-box::-webkit-scrollbar{
        display: none;

    }

    /* CARD DO CARROSSEL */
    .carrossel-item{
        /* background-color: green; */
        width: 18rem;
        height: 18rem;
        margin-bottom: 3rem;
        margin-left: 50%;
        transform: translate(-50%);
        opacity: 1;
    }



    /* PÁGINA DE COLEÇÕES ---------------------------------------------------------- */
    .collection-box{
        /* background-color: blue; */
        position: relative;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }
    
    .collection-box h1{
        margin-top: 4rem;
        margin-left: 2rem;
        font-size: 1.5rem;
        padding: 0;
    }
    
    .overflow-collection{
        /* background-color: tomato; */
        height: 80vh;
        width: 100%;
        gap: 1rem;
        overflow-y: auto;
        overflow-x: none;
    }
    
    .overflow-collection::-webkit-scrollbar{
        display: none;
    }
    
    .collection-nav{
        position: absolute;
    }
    
    .collection-ul{
        /* background-color: green; */
        display: flex;
        height: 1.5rem;
        gap: 2rem;
        list-style: none;
        margin-left: -3rem;
    }
    
    .collection-li a{
        /* background-color: purple; */
        text-decoration: none;
        color: white;
        font-size: 0.8rem;
        opacity: 0.6;
        
    }
    
    .collection-li a:hover{
        opacity: 1;
    }
    
    
    /* CAIXAS DE COLEÇÕES --------------------*/
    .book-box, .hq-box, .vds-box{
        /* background-color: yellow; */
        width: 80vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    
    /*CAIXA COM OVERFLOW ------------*/
    .book-list, .hq-list, .vds-list{
        /* background-color: aqua; */
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: 1rem;
    
    }
    
    .book-box h1, .hq-box h1, .vds-box h1{
        font-size: 1.2rem;
        color: rgb(73, 73, 73);
        margin: 0;
        margin-left: 15%;
        margin-top: 10rem;
    }
    
    
    /*BOTÕES DE FILTRO DAS COLEÇÕES*/
    .nav-filter{
       /* background-color: rgb(150, 9, 9); */
        width: 50%;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 2rem;
        margin-right: -7rem;
    
    }
    
    .nav-filter button{
        background-color: transparent;
        border: none;
        color: white;
        opacity: 0.4;
        transition: 0.3s;
        cursor: pointer;
    
    }
    
    .nav-filter button svg{
        color: white;
    }
    
    .nav-filter button:hover{
        opacity: 1;
    }
    
    .nav-filter button:active{
        opacity: 0.7;
    }


    
    /*---------------------- PÁGINA LIVROS ---------------------------------------------------------------------*/

    .bookpage-box{
        /* background-color: rgb(197, 2, 132); */
        display: block;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }



    .bookpage-box h1{
        margin-top: 4rem;
        margin-left: 2rem;
        font-size: 1.5rem;
    }

    .overflow-bookpage{
        /* background-color: tomato; */
        height: 100%;
        width: 100%;
        padding: 0;
        gap: 0.8rem;
        overflow-y: auto;
    }

    /*BOTÕES DE FILTRO DOS LIVROS*/
    .bookpage-nav-filter{
        /* background-color: rgb(150, 9, 9); */
        width: 100vw;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 0.5rem;
        margin: 0;

        
    
    }
    
    .bookpage-nav-filter button{
        font-size: 0.6rem;

    }
    

    /*LISTA DE LIVROS ---------------------*/
    .bookpage-list{
        /* background-color: aqua; */
        width: 100%;
        height: 87%;
        overflow-y: auto;
        overflow-X: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 0.2rem;
        padding: 0.5rem;
    }

    .bookpage-list::-webkit-scrollbar{
        display: none;
        
    }

    .bookpage-list h1{
        font-size: 1.5rem;
        color: rgb(73, 73, 73);
        margin: 0;
    }

    .bookpage-list h3{
        font-size: 0.8rem;
        color: rgb(255, 255, 255);
        width: 100%;
        height: 1rem;
        margin-top: 0.2rem;
        margin-bottom: 1rem;
        font-weight: 300;
    }


    /*---------------------- PÁGINA HQS -----------------------------------------------------------------------*/

    .hqpage-box{
        /*background-color: rgb(28, 219, 3);*/
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }

    .hqpage-box h1{
        margin-top: 4rem;
        margin-left: 2rem;
        font-size: 1.5rem;
    }

    .overflow-hqpage{
        /*background-color: tomato;*/
        height: 100%;
        width: 100%;
        padding: 0;
        gap: 0.8rem;
        overflow-y: auto;
    }

    /*BOTÕES DE FILTRO DAS HQS*/
    .hqpage-nav-filter{
        /*background-color: rgb(150, 9, 9);*/
        width: 100vw;
        /* height: 1.5rem; */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: end;
        gap: 0.5rem;
        margin: auto;
        margin-left: -1rem;
        
    }
    
    .hqpage-nav-filter button{
        font-size: 0.6rem;
    }
    
    /*-------------- LISTA DE HQS ---------------*/
    .hqpage-list{
        /*background-color: aqua;*/
        width: 100%;
        height: 87%;
        overflow-y: auto;
        overflow-X: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.2rem;
        padding: 0;
        margin: 0;
    }

    .hqpage-list::-webkit-scrollbar{
        display: none;
        
    }

    .hqpage-list h1{
        font-size: 1.5rem;
        color: rgb(73, 73, 73);
        margin: 0;
    }



    /* -----------------------------------------CARDS (LIVROS E HQS)------------------------------------------------------- */

    /*CORPO DO CARDBOOK*/
    .card{
        width: 7.5rem;
        height: 9rem;
        background-color: rgb(37, 37, 37);
        background-size: 140%;
        border-radius: 0.5rem;
        display: flex;
        justify-content: start;
        overflow: hidden;
        transition: 0.3s;
        margin: auto;
        margin-top: 5px;
    }

    .card:hover{
        scale: 1;
    }
    
    .bookpage-list:has(.card:hover) .card:not(:hover){
        opacity: 1;
    }


    /*DESCRIÇÃO DO CARDBOOK*/
    .card-desc{
        /*background-color: blue;*/
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    /*EXPANDIR DESCRIÇÃO DO CARDBOOK*/
    .ext-card-desc{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.719);
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        gap: 0.5rem;
        padding: 0.2rem;
        transition: 0.5s;

    }

    .ext-card-desc:hover{
        height: 2rem;
        margin-top: 0rem;

    }

    .ext-card-desc h2{
        color: white;
        font-size: 0.5rem;
        display: flex;
        text-align: center;
    }

    /* INDICADOR DE AVALIAÇÃO*/
    .card-hate{
        color: rgb(1, 255, 1);
        height: 1rem;
        width: 2rem;
        display: flex;
        align-items: center;
        font-size: 0.5rem;
        padding: 0;
        margin: 0;


    }

    .card-hate svg{
        color: rgb(1, 255, 1);
        scale: 0.5;
        padding: 0;
        margin: 0;


    }

    .card-desc p{
        display: none;
    }

    /* BOTÕES DOS CARDBOOKS*/
    .cardbtns{
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        /*background-color: brown;*/

    }

    .card-desc .card-add-btn{
        display: none;
    }

    .card-desc .card-read-btn{
        background-color: rgba(3, 80, 247, 0);
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        cursor: pointer;
    }

    .card-read-btn:active{
        background-color: rgba(0, 0, 0, 0);
        scale: 1;
        transition: 0.1s;
    }

    .card-desc button svg{
        display: none;
    }


    /* -----------------------------------CAIXA DE DIÁLOGO (PRÉ LEITURA) ----------------------------- */

    .dialog-overflow{
        padding: 0;
        gap: 1rem;

    }

    .slide-preread{
        display: none;
    
    }

    .preread{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .preread img{
        width: 90%;
        border-radius: 10px;
        margin: auto;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .prev-info{
        width: 100%;
    }

    .preread h1{
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .prev-info-btns{
        display: none;
    }

    .prev-info-mobile-btns{
        /* background-color: blue; */
        height: 5rem;
        padding-bottom: 2rem;
        display: flex;
        margin: 1rem;
    }


    
    /* ------------------------------------------- MODAL DE LEITURA (LIVROS E HQS) -------------------------------------------- */

    /* PÁGINA DE LEITURA  */

    .modal__Leitura{
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        gap: 0.1rem;
        
    }

    .invisible{
        display: none;
    }


    /* NAVEGADOR DA PÁGINA DE LEITURA */
    .nav_Leitura{
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: end;
        margin: auto;
        width: 100%;
        height: 2rem;
        border-bottom: 1px solid rgb(197, 197, 197);
        background-color: rgb(255, 255, 255);
        z-index: 1;
    }

    /*BARRA DE PROGRESSO DE LEITURA*/

    .progress-box{
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: start;
        
    }

    .progress-bar{
        --progress: 30%;
        width: var(--progress);
        height: 30%;
        background-color: rgb(114, 114, 245);
        border-radius: 0 5px 5px 0;
    }


    /* BOTÃO DE FECHAR PÁGINA DE LEITURA */
    .close_leitura{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2rem;
        width: 2rem;
        background-color: transparent;
        border: none;
        transition: 0.3s;
    }

    .close_leitura svg{
        scale: 2;
    }

    /* CAIXA DE TEXTO */
    .history_box{
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin-top: 2rem;
        /* background-color: rgb(29, 29, 29); */
        margin: auto;
    }

    /* TEXTO */
    .history_box iframe{
        width: 100%;
        height: 100%;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        margin: 0;
        padding: 0;

    }


    /* CAIXA DE ITENS DO TEXTO*/
    .text_itens{
        background-color: rgb(255, 255, 255);
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-top: 2.5rem;
        overflow: hidden;
        transition: 0.5s;
        gap: 5px;

    }

    /* CAIXA DE ITENS DO TEXTO QUANDO FECHADA*/
    .text_itens.hidden{
        /* background-color: blue; */
        width: 100%;
        height: 4rem;
        /* box-shadow: -3px -5px 10px black; */

    }


    /* BOTÃO ABRIR DA CAIXA DE ITENS DO TEXTO*/
    .menu_text_itens{
        width: 2rem;
        height: 2rem;
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
        cursor: pointer;

        
        
    }


    /*---------------------- PÁGINA DE GALERIA -------------------------------------------------------------------------*/
    .glpage-box{
        /*background-color: teal;*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 100vw;
    }

    .glpage-box h1{
        margin-top: 4rem;
        margin-left: 2rem;
        font-size: 1.5rem;
    }

    .overflow-glpage{
        /*background-color: tomato;*/
        height: 100%;
        width: 100%;
        padding: 0;
        gap: 0.8rem;
        overflow-y: auto;
    }


    /*BOTÕES DE FILTRO DAS IMAGENS*/
    .glpage-nav-filter{
        /*background-color: rgb(150, 9, 9);*/
        width: 100vw;
        /* height: 1.5rem; */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: end;
        gap: 0.5rem;
        margin: auto;
        margin-left: -1rem;
        
    
    }
    
    .glpage-nav-filter button{
        font-size: 0.6rem;

    }


    /*-------------- LISTA DA GALERIA ----------------*/
    .glpage-list{
        /*background-color: aqua;*/
        width: 100%;
        height: 87%;
        overflow-y: auto;
        overflow-X: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.2rem;
        padding: 0;
        margin: 0;
    }

    .glpage-list::-webkit-scrollbar{
        display: none;
        
    }

    .glpage-list h1{
        font-size: 1.2rem;
        color: rgb(73, 73, 73);
        margin-top: 5rem;
    }

    /*---------------------- PÁGINA VÍDEOS -------------------------------------------------------------------------*/
    .vdpage-box{
        /*background-color: rgb(219, 118, 3);*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 100vw;
    }

    .vdpage-box h1{
        margin-top: 4rem;
        margin-left: 2rem;
        font-size: 1.5rem;
    }

    .overflow-vdpage{
        /*background-color: tomato;*/
        height: 100%;
        width: 100%;
        padding: 0;
        gap: 0.8rem;
        overflow-y: auto;
    }


    /*BOTÕES DE FILTRO DOS VÍDEOS*/
    .vdpage-nav-filter{
    /*background-color: rgb(150, 9, 9);*/
    width: 100vw;
    /* height: 1.5rem; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
    margin: auto;
    margin-left: -5rem;
        
    
    }
    
    .vdpage-nav-filter button{
        font-size: 0.6rem;

    }
    

    /*-------------- LISTA DE VÍDEOS ----------------*/
    .vdpage-list{
    /*background-color: aqua;*/
    width: 100%;
    height: 87%;
    overflow-y: auto;
    overflow-X: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.2rem;
    padding: 0;
    margin: 0;
    }

    .vdpage-list::-webkit-scrollbar{
        display: none;
    }

    .vdpage-list h1{
        font-size: 1rem;
        color: rgb(73, 73, 73);
        margin: 0;
        margin-left: 35%;
        margin-top: 17%;
    }



    /* ------------------------------------------- CARDS DE VÍDEOS---------------------------------------------------- */

    .card-vd{
        background-color: #121212;
        display: flex;
        flex-direction: column;
        height: 80vh;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 2rem;
        border-bottom: 1px solid rgb(48, 48, 48);
        padding: 1rem;
        gap: 1rem;
        margin-bottom: 2rem;
        transition: 0.3s;
        overflow: hidden;
    }

    .card-vd:hover{
        background-color: #121212;
        box-shadow: 5px 10px 10px rgba(43, 43, 43, 0);
    }

    .vdpage-list:has(.card-vd:hover) .card-vd:not(:hover){
        opacity: 1;
        transition: 0.5s;
    }

    .card-vd iframe{
        width: 20rem;
        height: 16rem;
    }

    .vd-desc{
        /* background-color: green; */
        width: 100%;
        height: 99%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        z-index: 78;

    }

    .vd-desc h2{
        /* background-color: tomato; */
        width: 100%;
        height: 2rem;
        text-align: center;
        color: rgb(196, 196, 196);
    }

    .vd-desc p{
        /* background-color: rgb(71, 255, 230); */
        font-size: 0.7rem;
    }

    .vd-desc p::-webkit-scrollbar{
        width: 0.5rem;              
    }
    
    .vd-desc p::-webkit-scrollbar-track {
        background-color: rgb(26, 26, 26);
        border-radius: 0.5rem;      
    }
    
    .vd-desc p::-webkit-scrollbar-thumb {
        background: rgb(39, 39, 39);  
        border-radius: 20px;         
    }
        
    .card-vd-btns{
        /* background-color: purple; */
        height: 2rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;

    }

    .card-vd-btns h3{
        /* background-color: blue; */
        color: rgb(177, 177, 177);
        font-size: 0.8rem;
        width: 22rem;
    

    }

    .card-vd-btns .card-add-btn{

        width: 3rem;
        height: 2rem;
        border-radius: 10px;
        border: none;
        background-color: rgb(255, 174, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(119, 119, 119);
        transition: 0.3s;
        cursor: pointer;
    }

    .card-vd-btns .card-add-btn:active{
        background-color: rgb(26, 26, 26);
        scale: 0.95;
    }

    .card-vd-btns .card-add-btn svg{
        color: white;
        scale: 1.2;
    }













    /* BLOQUEIO DE NAVEGAÇÃO POR SCROLL MOBILE */
    .inative{
        display: none;
    }
  
}

@media screen and (min-width: 1000px){
    .card-img-tl{
        width: 50%;
    }
}