*{margin: 0;
padding: 0;
box-sizing: border-box;

font-family: "Inter", sans-serif;

}

body{
    background-color: black;
}

/*REMOVE BARRA DE ROLAGEM*/
body::-webkit-scrollbar{
    display: none;
  }


/*--------------- TELA DE CARREGAMENTO -------------*/
/*span.pre{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 8px solid rgb(0, 0, 0);
    border-right: 8px solid transparent;
    display: block;
    position: absolute;
    border-radius: 50%;
    left: 48%;
    top: 45%;
    z-index: 999;
    animation: loading 1s ease-in-out infinite;

}

@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.loading{
    opacity: 0;
    transition: 0.3s;
}*/


/*--------------- INTERFACE ------------------------------------------------------------------------------------------------*/
.interface{
background-color: rgb(0, 0, 0);
display: flex;
flex-wrap: wrap;
height: 100vh;
width: 630vw;
gap: 5rem;


}

/*--------------- BARRA DE NAVEGAÇÃO ---------------------------------------------------*/
.nav-bar {
    background-color: rgb(0, 0, 0);
    position: fixed;
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s ease-in-out;
    z-index: 999;
    object-fit: contain;
    margin:auto;

}

/*CAIXA DA LOGO*/
.logo-box{
    border-radius: 50%;
    margin-left: 0.5rem;
    width: 2.8rem;
    height: 2.8rem;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.473);

}

.logo-box:hover{
    background-color: rgb(158, 158, 158);

}


/*IMAGEM DA LOGO*/
.nav-logo-img{
    height: 100%;
}


/*CAIXA DA LISTA DE NAVEGAÇÃO*/
.nav-list{
    width: 50%;
    /* background-color: tomato; */
    height: 100%;
    display: flex;
    align-items: center;

}


#nav-list-02{
    width: 30%;
    position: fixed;
    right: 0;
    margin-top: 3rem;
    background-color: black;
    box-shadow: 0 20px 30px rgb(85, 85, 85);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    z-index: 850;
    display: none;
    opacity: 1;
    
}

#nav-list-02.oculta{

    height: 10px;
    opacity: 0;
    

}


.nav-list ul{
    /*background-color: blue;*/
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}


/*TEXTOS DOS TÍTULOS DE NAVEGAÇÃO*/
.nav-list li{

    height: 100%;
    /*background-color: blueviolet;*/
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease-in-out;

}

.nav-list li:hover{
    background-color: rgb(29, 29, 29);
    border-bottom: 1px solid rgb(194, 194, 194);
}

.nav-list a{
    text-decoration: none;
    color: rgb(219, 219, 219);
    font-weight: 600;
    font-size: 0.8rem;
    padding: 2rem;
}


/*ÁREA DE PESQUISA*/
.search-box{
    width: 40%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*CAIXA DE PESQUISA*/
.search-icon{
    scale: 1.3;
    color: white;
    opacity: 0.5;
    margin-right: -1rem;
    cursor: pointer;
    transition: 0.3s;
    display: none; 
}

.search-icon:hover{
    opacity: 1;
}


.inp-search{
    width: 100%;
    height: 90%;
    border-radius: 1rem;
    padding: 1rem;
    border: none;
    background-color: rgb(22, 22, 22);
    box-shadow: inset 0 1px 3px black;
    color: rgb(216, 216, 216);
}

.inp-search:hover{
    background-color: rgb(46, 46, 46);
}

/* BOTÃO SEARCH MOBILE */

/* BOTÃO MENU HAMBURGUER MOBILE */
#outlined-02{
    color: white;
    opacity: 0.5;
    margin-right: 1rem;
    scale: 1.2;
    cursor: pointer;
    transition: 0.3s;
    display: none;
    
}

#outlined-02:hover{
    opacity: 1;

    
}



/*---------------- MENU DO USUÁRIO -----------------------------------------------------------------------*/
/*BOTÃO*/
.user-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.user-menu-btn svg{
    height: 2rem;
    width: 2rem;
    color: rgb(73, 73, 73);
    transition: 0.3s;
}

.user-menu-btn svg:hover{
    color: white;
    scale: 1.03;

}

/*CAIXA DO SUSUÁRIO*/
/*--CAIXA--*/
nav.usermenu{
    margin: auto;
    position: fixed;
    height: 0;
    width: 30rem;
    background-color: rgb(31, 31, 31);
    margin-top: -90vh;
    right: 0;
    padding: 3px;
    box-shadow: -5px 5px 10px rgb(0, 0, 0);
    overflow: hidden;
    transition: 0.5s;
    z-index: 900;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3px;
    opacity: 0;
    
}

nav.usermenu.expandir-user-menu{
    opacity: 1;
    height: 90vh;
    margin-top: 3rem;
    background-color: rgba(15, 15, 15, 0.877);  
    backdrop-filter: blur(2px);   
}

/*CABEÇALHO*/
/*AVATAR*/
.avatar-box{
    /*background-color: khaki;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    height: 15%;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    border-bottom: 1px solid rgb(92, 92, 92);
}

.avatar-img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: rgb(65, 65, 65);
    background-image: url(https://raw.githubusercontent.com/Cof-Cof-Producoes/website/main/html/images/Catalog-Page/Menu-do-usu%C3%A1rio/Avatar01.png);
    background-size: 120%;
    cursor: pointer;
    border: 1px solid white;
}

/*NOME DO USUÁRIO*/
.user-info{
    /*background-color: brown;*/
    width: 40%;
    height: 95%;
    border-radius: 5px ;
    padding: 1rem;

}

.user-name{
    color: white;
    font-size: 1rem;
}

.user-status{
    color: rgb(0, 153, 13);
    font-size: 0.7rem;
    font-weight: 600;
}

/*STATUS DA CONTA*/
.acount-status{
    /*background-color: brown;*/
    width: 40%;
    height: 95%;
    border-radius: 5px;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-left: 1px solid rgb(73, 73, 73);
}

.status-title{
    color: rgb(255, 255, 255);
    font-size: 0.7rem;
    font-weight: 600;

}

/*VERSÃO PARA CONTA LIMITADA (NORMAL)*/
.status-logo{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-image: url(https://raw.githubusercontent.com/Cof-Cof-Producoes/website/main/html/images/Catalog-Page/Menu-do-usu%C3%A1rio/Limitada-status.png);
    background-size: 99%;
    cursor: pointer;
    border: 1px solid rgb(97, 97, 97);
    

}

/*VERSÃO PARA CONTA PREMIUM*/
.status-logo.premium{
    width: 4.5rem;
    height: 5rem;
    border-radius: 50%;
    background-image: url(https://raw.githubusercontent.com/Cof-Cof-Producoes/website/main/html/images/Catalog-Page/Menu-do-usu%C3%A1rio/Premium-status.png);
    background-size: 100%;
    cursor: pointer;
    border: none;

}

/*ESTATÍSTICAS DO USUÁRIO*/
.user-list{
    /*background-color: khaki;*/
    padding: 3px;
    height: 30%;
    width: 100%;
    border-radius: 5px;
    border-left: 1px solid rgb(92, 92, 92);
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statistcs{
    /*background-color: orchid;*/
    width: 50%;
    height: 98%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 4%;

}


.statistcs h2{
font-size: 1rem;
color: rgb(255, 255, 255);
margin-bottom: 1rem;

}

.statistcs div{
    font-size: 0.8rem;
    color: rgb(197, 197, 197);
    
}

/*NÍVEL DO USUÁRIO*/
.statistcs-reaction{
    /*background-color: blueviolet;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 98%;
    padding: 1rem;
    gap: 5px;

}

.statistcs-reaction h2{
font-size: 1rem;
color: rgb(255, 255, 255);
margin-top: -0.8rem;
}

/* EMBLEMAS DO USUÁRIO*/
.statistic-00{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-image: url(https://raw.githubusercontent.com/Cof-Cof-Producoes/website/main/html/images/Catalog-Page/Menu-do-usu%C3%A1rio/statistic%20-%2000.webp);
    background-size: 140%;
    cursor: pointer;
}

.statistic-10{
    width: 7.5rem;
    height: 8rem;
    border-radius: 50%;
    background-image: url();
    background-size: 99%;
    cursor: pointer;
}

.statistic-20{
    width: 7.5rem;
    height: 8rem;
    border-radius: 50%;
    background-image: url();
    background-size: 99%;
    cursor: pointer;
}

.statistic-30{
    width: 7.5rem;
    height: 8rem;
    border-radius: 50%;
    background-image: url();
    background-size: 99%;
    cursor: pointer;
}

.statistic-40{
    width: 7.5rem;
    height: 8rem;
    border-radius: 50%;
    background-image: url(https://raw.githubusercontent.com/Cof-Cof-Producoes/website/main/html/images/Catalog-Page/Menu-do-usu%C3%A1rio/statistic%20-%2040.jpg);
    background-size: 150%;
    cursor: pointer;
}

.statistic-50{
    width: 7.5rem;
    height: 8rem;
    border-radius: 50%;
    background-image: url(https://raw.githubusercontent.com/Cof-Cof-Producoes/website/main/html/images/Catalog-Page/Menu-do-usu%C3%A1rio/statistic%20-%2050.jpg);
    background-size: 99%;
    cursor: pointer;
    border: 8px solid rgb(0, 255, 0) ;
}

.statistic-60{
    width: 7.5rem;
    height: 8rem;
    border-radius: 50%;
    background-image: url();
    background-size: 99%;
    cursor: pointer;
}

.statistic-70{
    width: 7.5rem;
    height: 8rem;
    border-radius: 50%;
    background-image: url();
    background-size: 99%;
    cursor: pointer;
}

.statistic-80{
    width: 7.5rem;
    height: 8rem;
    border-radius: 50%;
    background-image: url();
    background-size: 99%;
    cursor: pointer;
}

.statistic-90{
    width: 7.5rem;
    height: 8rem;
    border-radius: 50%;
    background-image: url();
    background-size: 99%;
    cursor: pointer;
}

.statistic-100{
    width: 7.5rem;
    height: 8rem;
    border-radius: 50%;
    background-image: url();
    background-size: 99%;
    cursor: pointer;
}


/*AMIGOS DO USUÁRIO*/
.user-friends{
    /*background-color: khaki;*/
    padding: 3px;
    height: 45%;
    width: 100%;
    border-radius: 5px;
    border-left: 1px solid rgb(92, 92, 92);
    overflow-y: auto;
    display: flex;
    flex-direction: column;

}

.friends-header{
    background-color: rgb(179, 179, 179);
    width: 100%;
    height: 1.5rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 1rem;
    transition: 0.2s;
}

.friends-header:hover{
    background-color: rgb(141, 141, 141);

}

.friends-header h2{
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
}

.friends-list{
    background-color: rgba(70, 70, 70, 0.247);
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-left: 1rem;
    box-shadow: inset 0 -3px 10px black;
    overflow-y: auto;
    transition: 0.2s;

}


/*CAIXA DE BOTÕES*/
.user-buttons{
    /*background-color: khaki;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3px;
    height: 8%;
    width: 100%;
    border-radius: 5px;
    border-top: 1px solid rgb(92, 92, 92);

}

/*BOTÕES*/
.config-btn, .logout-btn{
    width: 45%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.config-btn:hover, .logout-btn:hover{
    background-color: rgba(39, 39, 39, 0.801);
}

.config-btn:active, .logout-btn:active{
    background-color: rgba(71, 71, 71, 0.801);
    scale: 0.99;
    transition: 0.1s;
}

.config-btn svg, .logout-btn svg{
    color: rgb(255, 255, 255);
    scale: 1.5;
}


/*--------------- MENU LATERAL ----------------------------------------------------------------------*/
/*BARRA DO MENU*/
nav.menu{
    position: fixed;
    height: 100%;
    width: 2.5rem;
    background-color: rgba(39, 39, 39, 0);
    margin-top: 3rem;
    padding: 1rem 0 1rem 0.5%;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    overflow: hidden;
    transition: 0.3s;
    z-index: 700;
    border-top-right-radius: 1rem;
        
}

nav.menu.expandir{
    width: 11rem;
    background-color: rgba(39, 39, 39, 0.397);  
    backdrop-filter: blur(2px);   
}

nav.menu.expandir .txt-link{
    margin-left: 0.2rem;
    opacity: 1;     
}


/*SETA DE FECHAMENTO DO MENU LATERAL*/
.bi-caret-left-fill{
    opacity: 0;
}

nav.menu.expandir .bi-caret-left-fill{
    opacity: 1;
}


/* BOTÃO DE EXPANDIR MENU LATERAL*/
.expand-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
    padding-left: 5px;
    padding-right: 10px;
    color: rgb(124, 124, 124);
    margin-bottom: 1rem;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    
}

.expand-btn svg{
    scale: 1.8;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    
}

.expand-btn svg:hover{
    color: rgb(255, 255, 255);
    
}


/*LISTAS DO MENU LATERAL*/
nav.menu ul{
    list-style: none;
}

ul li.item-menu{
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

ul li.item-menu .txt-link{
    margin-left: 4rem;
    transition: .5s;
    opacity: 0;

}

ul li.item-menu:hover{
    background-color: rgba(68, 68, 68, 0.418);

}

ul li.ativo{
    background-color: rgba(59, 59, 59, 0.692);
}

ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 1.2rem 4%;
    display: flex;
    gap: 2rem;

}

.icon{
    padding-left: 6px;
}

/*------------------------------PÁGINA INICIAL---------------------------------------------------------*/
/*TÍTULO*/
.sec-title{
    width: 95%;
    font-size: 1.5rem;
    margin-top: 1rem;
    background-color: rgb(37, 37, 37);
    box-shadow: 0 3px 7px black;
    color: rgb(180, 180, 180);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
    font-weight: 700;

}


/*BOTÕES DE NAVEGAÇÃO DO CARROSSEL*/
.slide{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background-color: rgba(156, 156, 156, 0.322);
    margin: 1rem;
    border-radius: 50%;
    border: none;
    color: rgb(24, 24, 24);
    font-size: 2rem;
    transition: 0.4s;
    cursor: pointer;
    
}

.slide svg{
    scale: 1.8
}

.slide:hover{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 10px black;
    scale: 2
}

.slide:active{
    scale: 0.9;
    transition: 0.1s;

}


/*CAIXA DO CARROSSEL*/
.new-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    /*background-color: purple;*/
    padding: 2rem;
}

.new-title{
    color: white;
    font-size: 1rem;
    top: 0;
    display: none;
}

.overflow{
    /*background-color: tomato;*/
    overflow-x: auto;
    width: 60rem;
    height: 30rem;
    display: flex;
    align-items: center;
    /*border: 2px solid yellow;*/

}

.overflow::-webkit-scrollbar{
    display: none;
}

.carrossel-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    /*border: 3px solid green;*/
    height: 90%;

}


/*ITEM DO CARROSSEL*/
.carrossel-item{
    width: 60rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    /*border: 2px solid rgb(255, 255, 255);*/
    overflow: hidden;
    border-radius: 10px;
    /*box-shadow: 0 3px 10px rgb(255, 0, 0);*/
    transition: 0.3s;
    opacity: 0;

}

.current-item{
    opacity: 1;
    transition: 0.5s ease-in-out;

}

.img-box{
    overflow: hidden;
    border-radius: 1rem;
    width: 50%;
    height: 100%;
    /*border: 1px solid white;*/
}

.carrossel-img{
    height: 100%;
    width: 100%;
}

.item-descrpition{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    height: 25%;
    margin-top: -6rem;
    background-color: rgba(0, 0, 0, 0.596);
    transition: 0.3s ease-in-out;

}

.item-descrpition:hover{
    height: 35%;
    margin-top: -8rem;
    background-color: rgba(0, 0, 0, 0.836);  
}

.item-descrpition p{
    color: white;
    font-size: 0.9rem;
    /*background-color: brown;*/
    height: 1.2rem;
    width: 65%;
    text-align: center;
}

.item-hate{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 180, 0);
    font-size: 1rem;
    font-weight: 600;
    /*background-color: rgb(204, 0, 204);*/
    height: 1.2rem;
    width: 35%;
    gap: 1rem;

}

.item-card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /*background-color: orange;*/
    width: 100%;
    height: 4rem;
    /*border: 1px solid white;*/
    margin-top: -10px;

}

.tipo, .add-to-collection, .start{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 25%;
    height: 55%;
    background-color: rgba(0, 59, 185, 0);
    color: white;
    border-radius: 5px;
    transition: 0.2s;
    opacity: 0.6;
    cursor: pointer;
}

.item-card svg{
    scale: 1.5;
}

.tipo:hover, .add-to-collection:hover, .start:hover{
    scale: 1.2;
    /*box-shadow: 0 3px 10px rgb(75, 75, 75);*/
    opacity: 1;
    /*border: 1px solid rgb(211, 211, 211);*/
    /*background-color: rgb(0, 59, 185);*/
}

.tipo:active, .add-to-collection:active, .start:active{
    scale: 1;
}


/*CAIXA DE INFORMAÇÕES*/
.info-item{
    width: 40%;
    height: 98%;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: rgb(197, 197, 197);
    gap: 0.5rem;
    transition: 0.3s;
}

.info-title{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(78, 78, 78);
    height: 10%;
}

.info-title h1{
    font-size: 2rem;
}

.info-description{
    margin: auto;
    height: 40%;
    width: 100%;
    padding: 1rem;
    font-size: 0.9rem;
    /*background-color: tomato;*/
    border-radius: 1rem;
    box-shadow: inset 0px 3px 8px black;
}

.info-data{
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    /*background-color: green;*/
    border-radius: 1rem;
    box-shadow: inset 0px 3px 8px black;
    font-size: 0.7rem;
    padding: 1rem;
    line-height: 5px;
    gap: 15%;
}

.info-buttons{
    margin-top: 1rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20%;
    width: 100%;
    /*background-color: blue;*/
    border-radius: 1rem;
    box-shadow: inset 0px 3px 8px black;

}

.info-buttons button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    width: 30%;
    height: 50%;
    border-radius: 10px;
    border: 1px solid rgb(155, 155, 155);
    transition: 0.5s;
    cursor: pointer;

}

.info-buttons button svg{
    scale: 1.5;

}

.info-buttons button:hover{
   scale: 1.02;
   box-shadow: 0 2px 10px rgb(78, 78, 78);
}

.info-buttons button:active{
    scale: 0.95;
}


/*------------------------- PÁGINA COLEÇÕES ---------------------------------------------------------------------*/
.collection-box{
    /*background-color: blue;*/
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.collection-box h1{
    margin-top: 4rem;
    margin-left: 4rem;
    font-size: 2rem;
    color: rgb(189, 189, 189);
    padding: 0;
}

.overflow-collection{
    /*background-color: tomato;*/
    height: 80vh;
    padding: 0 5rem;
    gap: 1rem;
    overflow-y: auto;
    overflow-x: auto;
}

.overflow-collection::-webkit-scrollbar{
    display: none;
}

.collection-nav{
    position: absolute;
}

.collection-ul{
    /*background-color: green;*/
    display: flex;
    height: 1.5rem;
    margin: auto;
    gap: 2rem;
}

.collection-li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    opacity: 0.6;
    
}

.collection-li a:hover{
    opacity: 1;
}


/* CAIXAS DE COLEÇÕES --------------------*/
.book-box, .hq-box, .vds-box{
    /*background-color: yellow;*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*CAIXA COM OVERFLOW ------------*/
.book-list, .hq-list, .vds-list{
    /*background-color: aqua;*/
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 1rem;

}

.book-box h1, .hq-box h1, .vds-box h1{
    font-size: 1.5rem;
    color: rgb(73, 73, 73);
    margin: 0;
    margin-left: 35%;
    margin-top: 15%;
}


/*BOTÕES DE FILTRO DAS COLEÇÕES*/
.nav-filter{
   /* background-color: rgb(150, 9, 9);*/
    width: 100%;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
    padding-right: 1rem;
    

}

.nav-filter button{
    background-color: transparent;
    border: none;
    color: white;
    opacity: 0.4;
    transition: 0.3s;
    cursor: pointer;

}

.nav-filter button svg{
    color: white;
}

.nav-filter button:hover{
    opacity: 1;
}

.nav-filter button:active{
    opacity: 0.7;
}




/*---------------------- PÁGINA LIVROS ---------------------------------------------------------------------*/
.bookpage-box{
    /* background-color: rgb(197, 2, 132); */
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.bookpage-box h1{
    margin-top: 4rem;
    margin-left: 4rem;
    font-size: 2rem;
    color: rgb(189, 189, 189);
    padding: 0;
}

.overflow-bookpage{
    /*background-color: tomato;*/
    height: 80vh;
    padding: 0 5rem;
    gap: 1rem;
    overflow-y: auto;
}


/*BOTÕES DE FILTRO DOS LIVROS*/
.bookpage-nav-filter{
    /*background-color: rgb(150, 9, 9);*/
     width: 100%;
     height: 1.5rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 2rem;
     padding-right: 1rem;

     
 
}
 
.bookpage-nav-filter button{
     background-color: transparent;
     border: none;
     color: white;
     opacity: 0.4;
     transition: 0.3s;
    cursor: pointer;

}
 
.bookpage-nav-filter button svg{
     color: white;
}
 
.bookpage-nav-filter button:hover{
     opacity: 1;
}
 
.bookpage-nav-filter button:active{
     opacity: 0.7;
}


/*LISTA DE LIVROS ---------------------*/
.bookpage-list{
    /*background-color: aqua;*/
    width: 100%;
    height: 95%;
    overflow-y: auto;
    overflow-X: auto;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.bookpage-list::-webkit-scrollbar{
    display: none;
}

.bookpage-list h1{
    font-size: 1.5rem;
    color: rgb(73, 73, 73);
    margin: 0;
    margin-left: 35%;
    margin-top: 17%;
}

.bookpage-list h3{
    font-size: 1rem;
    color: rgb(255, 255, 255);
    width: 100%;
    margin-top: 2rem;
    font-weight: 300;
}


/*---------------------- PÁGINA HQS -----------------------------------------------------------------------*/

.hqpage-box{
    /*background-color: rgb(28, 219, 3);*/
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.hqpage-box h1{
    margin-top: 4rem;
    margin-left: 4rem;
    font-size: 2rem;
    color: rgb(189, 189, 189);
    padding: 0;
}

.overflow-hqpage{
    /*background-color: tomato;*/
    height: 80vh;
    padding: 0 5rem;
    gap: 1rem;
    overflow-y: auto;
}


/*BOTÕES DE FILTRO DAS HQS*/
.hqpage-nav-filter{
/*background-color: rgb(150, 9, 9);*/
width: 100%;
height: 1.5rem;
display: flex;
align-items: center;
justify-content: space-between;
gap: 2rem;
padding-right: 1rem;
     
 
}
 
.hqpage-nav-filter button{
background-color: transparent;
border: none;
color: white;
opacity: 0.4;
transition: 0.3s;
cursor: pointer;
}
 
.hqpage-nav-filter button svg{
color: white;
}
 
.hqpage-nav-filter button:hover{
opacity: 1;
}
 
.hqpage-nav-filter button:active{
opacity: 0.7;
}


/*-------------- LISTA DE HQS ----------------*/
.hqpage-list{
/*background-color: aqua;*/
width: 100%;
height: 95%;
overflow-y: auto;
overflow-X: auto;
padding: 1rem;
}

.hqpage-list h1{
    font-size: 1.5rem;
    color: rgb(73, 73, 73);
    margin: 0;
    margin-left: 35%;
    margin-top: 17%;
}


/*---------------------- PÁGINA VÍDEOS -------------------------------------------------------------------------*/
.vdpage-box{
    /*background-color: rgb(219, 118, 3);*/
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.vdpage-box h1{
    margin-top: 4rem;
    margin-left: 4rem;
    font-size: 2rem;
    color: rgb(189, 189, 189);
    padding: 0;
}

.overflow-vdpage{
    /*background-color: tomato;*/
    height: 80vh;
    padding: 0 5rem;
    gap: 1rem;
    overflow-y: auto;
}


/*BOTÕES DE FILTRO DOS VÍDEOS*/
.vdpage-nav-filter{
/*background-color: rgb(150, 9, 9);*/
width: 100%;
height: 1.5rem;
display: flex;
align-items: center;
justify-content: space-between;
gap: 2rem;
padding-right: 1rem;
     
 
}
 
.vdpage-nav-filter button{
background-color: transparent;
border: none;
color: white;
opacity: 0.4;
transition: 0.3s;
cursor: pointer;

}
 
.vdpage-nav-filter button svg{
color: white;
}
 
.vdpage-nav-filter button:hover{
opacity: 1;
}
 
.vdpage-nav-filter button:active{
opacity: 0.7;
}


/*-------------- LISTA DE VÍDEOS ----------------*/
.vdpage-list{
/*background-color: aqua;*/
width: 100%;
height: 95%;
overflow-y: auto;
overflow-X: auto;
padding: 1rem;
}

.vdpage-list::-webkit-scrollbar{
    display: none;
}

.vdpage-list h1{
    font-size: 1.5rem;
    color: rgb(73, 73, 73);
    margin: 0;
    margin-left: 35%;
    margin-top: 17%;
}


/*---------------------- PÁGINA DE GALERIA -------------------------------------------------------------------------*/
.glpage-box{
    /*background-color: teal;*/
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.glpage-box h1{
    margin-top: 4rem;
    margin-left: 4rem;
    font-size: 2rem;
    color: rgb(189, 189, 189);
    padding: 0;
}

.overflow-glpage{
    /*background-color: tomato;*/
    height: 80vh;
    padding: 0 5rem;
    gap: 1rem;
    overflow-y: auto;
}


/*BOTÕES DE FILTRO DAS IMAGENS*/
.glpage-nav-filter{
    /*background-color: rgb(150, 9, 9);*/
    width: 100%;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    padding-right: 1rem;
     
 
}
 
.glpage-nav-filter button{
     background-color: transparent;
     border: none;
     color: white;
     opacity: 0.4;
     transition: 0.3s;
    cursor: pointer;

}
 
.glpage-nav-filter button svg{
     color: white;
}
 
.glpage-nav-filter button:hover{
     opacity: 1;
}
 
.glpage-nav-filter button:active{
     opacity: 0.7;
}


/*-------------- LISTA DA GALERIA ----------------*/
.glpage-list{
    /*background-color: aqua;*/
    width: 100%;
    height: 95%;
    overflow-y: auto;
    overflow-X: auto;
    padding: 1rem;
}

.glpage-list h1{
    font-size: 1.5rem;
    color: rgb(73, 73, 73);
    margin: 0;
    margin-left: 35%;
    margin-top: 17%;
}





/* -----------------------------------------CARDS (LIVROS E HQS)------------------------------------------------------- */

/*CORPO DO CARDBOOK*/
.card{
    width: 15rem;
    height: 20rem;
    background-color: rgb(37, 37, 37);
    background-size: 140%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    transition: 0.3s;
}


.card:hover{
    scale: 1.02;
}

.bookpage-list:has(.card:hover) .card:not(:hover){
    opacity: 0.6;
    transition: 0.5s;
}


/*DESCRIÇÃO DO CARDBOOK*/
.card-desc{
    /*background-color: blue;*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/*EXPANDIR DESCRIÇÃO DO CARDBOOK*/
.ext-card-desc{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.562);
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 0.5rem;
    overflow: hidden;
    gap: 0.7rem;
    transition: 0.5s;

}

.ext-card-desc:hover{
    height: 12rem;
    margin-top: -5rem;

}

.ext-card-desc h2{
    width: 100%;
    color: white;
    font-size: 1rem;
    display: flex;
    gap: 1rem;
}

/* INDICADOR DE AVALIAÇÃO*/
.card-hate{
    color: rgb(1, 255, 1);
    height: 1rem;
    font-size: 0.8rem;


}

.card-hate svg{
    color: rgb(1, 255, 1);


}

.card-desc p{
    width: 100%;
    color: white;
    font-size: 0.7rem;
}

/* BOTÕES DOS CARDBOOKS*/
.cardbtns{
    background-color: rgba(0, 0, 0, 0.562);
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*background-color: brown;*/

}

.card-desc .card-add-btn{
    background-color: rgb(247, 162, 3);
    width: 4rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(133, 133, 133);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    cursor: pointer;
}

.card-desc .card-read-btn{
    background-color: rgb(3, 80, 247);
    width: 4rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(133, 133, 133);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    cursor: pointer;
}

.card-read-btn:active, .card-add-btn:active {
    background-color: black;
    scale: 0.95;
    transition: 0.1s;
}

.card-desc button svg{
    color: white;
    scale: 1.2;
}

/* ------------------------------------------- MODAL DE LEITURA (LIVROS E HQS) -------------------------------------------- */

/* PÁGINA DE LEITURA  */

.modal__Leitura{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 1rem;
    animation: abrirleitura 0.4s;
    
}

.invisible{
    display: none;
    
}

@keyframes abrirleitura{
    from{
        margin-top: -100vh;
        opacity: 0;
    }
    to{
        margin-top: 0;
        opacity: 1;
    }
}



/* NAVEGADOR DA PÁGINA DE LEITURA */
.nav_Leitura{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: auto;
    width: 100%;
    height: 2rem;
    border-bottom: 1px solid rgb(197, 197, 197);
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
}

/*BARRA DE PROGRESSO DE LEITURA*/

.progress-box{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: start;
    
}

.progress-bar{
    --progress: 30%;
    width: var(--progress);
    height: 30%;
    background-color: rgb(114, 114, 245);
    border-radius: 0 5px 5px 0;
}



/* BOTÃO DE FECHAR PÁGINA DE LEITURA */
.close_leitura{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: none;
    transition: 0.3s;
}

.close_leitura:hover{
    background-color: rgb(255, 129, 129);
}

.close_leitura:active{
    background-color: transparent;
    transition: 0.1s;
}

.close_leitura svg{
    scale: 2;
}

/* CAIXA DE TEXTO */
.history_box{
    min-width: 60vw;
    height: 100vh;
    margin-top: 2rem;
    background-color: rgb(29, 29, 29);
    margin: auto;
    
}

/* TEXTO */
.history_box iframe{
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin: auto;
    
}


/* CAIXA DE ITENS DO TEXTO*/
.text_itens{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 50%;
    height: 100%;
    padding-top: 2.5rem;
    overflow: hidden;
    transition: 0.5s;
    gap: 5px;

}

/* CAIXA DE ITENS DO TEXTO QUANDO FECHADA*/
.text_itens.hidden{
    width: 3vw;
    background-color: rgb(255, 255, 255);
    /* box-shadow: -3px -5px 10px black; */

}

.text_itens.hidden .enciclopedia_box{
    opacity: 0;

}

.text_itens.hidden .music_box{
    opacity: 0;

}

/* BOTÃO ABRIR DA CAIXA DE ITENS DO TEXTO*/
.menu_text_itens{
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    cursor: pointer;

    
    
}

.menu_text_itens svg{
    scale: 2;
    color: black;
    opacity: 0.5;
    transition: 0.3s;
}

.menu_text_itens svg:hover{
    opacity: 1;
}

/* CAIXA DA ENCICLOPÉDIA */
.enciclopedia_box{
    width: 90%;
    height: 90%;
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    transition: 0.5s;
    
}

.enciclopedia_box input{
    width: 100%;
    height: 1.5rem;
    padding-left: 1rem;
    border-radius: 1rem;
    border: none;
    box-shadow: inset 0 3px 10px rgb(126, 126, 126);
    
}

.enciclopedia_item{
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    padding: 0.5rem;
    overflow: auto;
}

/* CAIXA DE MÚSICAS */
.music_box{
    width: 100%;
    height: 40%;
    /* background-color: rgb(54, 0, 61); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 0.2rem;
    transition: 0.5s;

}


.music_box h2{
    background-color: rgb(41, 41, 41);
    width: 100%;
    height: 1.3rem;
    border-radius: 1rem;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}








/* ------------------------------------------- CARDS DE VÍDEOS---------------------------------------------------- */

.card-vd{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    height: 315px;
    width: 90%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2rem;
    border-bottom: 1px solid rgb(48, 48, 48);
    padding: 1rem;
    gap: 2rem;
    margin-bottom: 5rem;
    transition: 0.3s;
    overflow: hidden;
}

.card-vd:hover{
    background-color: rgb(19, 19, 19);
    box-shadow: 5px 10px 10px rgb(43, 43, 43);
}

.vdpage-list:has(.card-vd:hover) .card-vd:not(:hover){
    opacity: 0.6;
    transition: 0.5s;
}

.card-vd iframe{
    width: 560px;
    height: 315px;
}

.vd-desc{
    /* background-color: green; */
    width: 32rem;
    height: 99%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 888;

}

.vd-desc h2{
    /* background-color: tomato; */
    width: 100%;
    height: 2rem;
    color: rgb(196, 196, 196);
}

.vd-desc p{
    /* background-color: rgb(71, 255, 230); */
    width: 100%;
    height: 12rem;
    overflow-y: auto;
    padding: 0.5rem;
    color: rgb(182, 182, 182);
}

.vd-desc p::-webkit-scrollbar{
    width: 1rem;              
}
  
.vd-desc p::-webkit-scrollbar-track {
    background-color: rgb(26, 26, 26);
    border-radius: 0.5rem;      
}
  
.vd-desc p::-webkit-scrollbar-thumb {
    background: rgb(39, 39, 39);  
    border-radius: 20px;         
}
    
.card-vd-btns{
    /* background-color: purple; */
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;

}

.card-vd-btns h3{
    /* background-color: blue; */
    color: rgb(177, 177, 177);
    font-size: 0.8rem;
    width: 22rem;
   

}

.card-vd-btns .card-add-btn{

    width: 10rem;
    height: 2rem;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 174, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(119, 119, 119);
    transition: 0.3s;
    cursor: pointer;
}

.card-vd-btns .card-add-btn:active{
    background-color: rgb(26, 26, 26);
    scale: 0.95;
}

.card-vd-btns .card-add-btn svg{
    color: white;
    scale: 1.5;
}




























/*------------ PRODUTOS DOS CATÁLOGOS --------- PRODUTOS DOS CATÁLOGOS ---------------PRODUTOS DOS CATÁLOGOS------------*/

/* -------------------------------------------------------------------LIVROS */

#cardbook-01{
    background-image: url(https://raw.githubusercontent.com/Cof-Cof-Producoes/website/main/html/images/Catalog-Page/Livros/cardbook-Os%20Port%C3%B5es%20da%20Areia.jpg);
    background-size: 107%;
}

#cardbook-02{
    background-image: url(https://raw.githubusercontent.com/Cof-Cof-Producoes/website/main/html/images/Catalog-Page/Livros/cardbook-Vagalumes.jpg);
}

#cardbook-03{
    background-image: url(https://raw.githubusercontent.com/Cof-Cof-Producoes/website/main/html/images/Catalog-Page/Livros/cardbook-Babu.jpg);
}

#cardbook-04{
    background-image: url(https://raw.githubusercontent.com/Cof-Cof-Producoes/website/main/html/images/Catalog-Page/Livros/cardbook-Ancestrais.jpg);
}

#cardbook-05{
    background-image: url(https://raw.githubusercontent.com/Cof-Cof-Producoes/website/main/html/images/Catalog-Page/Livros/cardbook-Bamboo.jpeg);
}

#cardbook-06{
    background-image: url(https://raw.githubusercontent.com/Cof-Cof-Producoes/website/main/html/images/Catalog-Page/Livros/cardbook-Couro%20e%20Escamas.jpg);
}

#cardbook-07{
    background-image: url(https://raw.githubusercontent.com/Cof-Cof-Producoes/website/main/html/images/Catalog-Page/Livros/cardbook-Saci.jpg);
}

#cardbook-08{
    background-image: url(https://raw.githubusercontent.com/Cof-Cof-Producoes/website/main/html/images/Catalog-Page/Livros/cardbook.jpg);
    background-size: 120%;
}

#cardbook-09{
    background-image: url(https://raw.githubusercontent.com/Cof-Cof-Producoes/website/main/html/images/Catalog-Page/Livros/cardbook-Xipaia.jpeg);
    background-size: 140%;
}

#cardbook-10{
    background-image: url(https://raw.githubusercontent.com/Cof-Cof-Producoes/website/main/html/images/Catalog-Page/Livros/cardbook-Antes%20de%20Tudo.png);
    background-size: 107%;
}

#cardbook-11{
    background-image: url(https://raw.githubusercontent.com/Cof-Cof-Producoes/website/main/html/images/Catalog-Page/Livros/cardbook-Gods%20games.jpg);
    background-size: 135%;
}

#cardbook-12{
    background-image: url(https://raw.githubusercontent.com/Cof-Cof-Producoes/website/main/html/images/Catalog-Page/Livros/cardbook-A-%C3%BAltima-da-gera%C3%A7%C3%A3o.jpg);
    background-size: 130%;
}

#cardbook-13{
    background-image: url(https://raw.githubusercontent.com/Cof-Cof-Producoes/website/main/html/images/Catalog-Page/Livros/cardbook-Anahi.jpg);
    background-size: 122%;
}

#cardbook-14{
    background-image: url(https://raw.githubusercontent.com/Cof-Cof-Producoes/website/main/html/images/Catalog-Page/Livros/cardbook-Morro-do-Diabo.jpg);
    background-size: 105%;
}




/* ------------------------------------------------------------------- HQS */

#cardhq-01{
    background-image: url(https://raw.githubusercontent.com/Cof-Cof-Producoes/website/main/html/images/Catalog-Page/HQs/cardhq-Blue%20lights.jpg);
    background-size: 122%;
}
