@charset "UFT-8";

/* MOBILE PAISAGEM ---------------------------------------------------------------- */

@media screen and (min-width: 800px){

    /* MENU HAMBÚRGUER RESPONSÍVO */
    span#burger-menu{
        display: none;
    }
    
    .nav-list{
        display: block;
    }

    .nav-list02{
        display: none;
    }

    .left-side{
        display: flex;
    }

    .right-side{
        display: flex;
    }

}