@charset "UFT-8";

/* MOBILE RETRATO---------------------------------------------------------------- */

@media screen and (max-width: 800px){

    /* MENU HAMBÚRGUER RESPONSÍVO */
    span#burger-menu{
        display: block;
    }

    /* SESSÕES */
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    /* NAVEGADOR SUPERIOR */
    .nav-list{
        display: none;
    }

    /* LATERAIS */
    .left-side, .right-side{
        display: none;
    }

    /* MEIO */
    .midle{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    /* TÍTULOS */
    .titulo{
        font-size: 1.5rem;
        margin-top: 5rem;
        margin-bottom: 3rem;
    }

    


}

