/* Configuraçõesa gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Raiz */
:root{
    --fundo: #141316;
    --texto: #fff;
}

/* corpo */
body{
    background-color: var(--fundo);
    color: var(--texto);
    height: 100vh;
}

#contents{
    height: 100%;
    z-index: 1;
}

/* lista */
.cont-serv-list{
    /* background-color: tomato; */
    padding-top: 5rem;
    display: flex;
    gap: 1rem;
    margin: auto;
    width: 100%;
    margin-top: 0;
    height: 15rem;
}

/* icones */
.icon_btn{
    display: flex;
    /* background-color: var(--fundo); */
    margin: auto;
    list-style: none;
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
    scale:0.95;
}

.cont-serv-list li:hover{
    background-color: #ffffff;
    opacity: 1;
    scale: 1;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);

}

#nosso-app-btn:hover::after{
    position: absolute;
    content: "Cofcof App";
    color: var(--texto);
    display: flex;
    justify-content: start;
    font-size: 1.5rem;
    left: -1.5rem;
    top: 6rem;
    width: 10rem;
}

#mkting-btn:hover::after{
    position: absolute;
    content: "Assessoria de Marketing";
    color: var(--texto);
    display: flex;
    justify-content: start;
    font-size: 1.5rem;
    left: -6rem;
    top: 6rem;
    width: 20rem;

}

#dev-web-btn:hover::after{
    position: absolute;
    content: "Desenvolvimento Web";
    display: flex;
    justify-content: start;
    font-size: 1.5rem;
    left: -5rem;
    top: 6rem;
    width: 20rem;
}

#data-anlt-btn:hover::after{
    position: absolute;
    content: "Data analytics";
    display: flex;
    justify-content: start;
    font-size: 1.5rem;
    left: -2.5rem;
    top: 6rem;
    width: 20rem;
}

#prod-cont-btn:hover::after{
    position: absolute;
    content: "Produção artística";
    display: flex;
    justify-content: start;
    font-size: 1.5rem;
    left: -4rem;
    top: 6rem;
    width: 20rem;
}

.selected{
    opacity: 1;
    scale: 1;
    background-color: #ffffff;
    box-shadow: 0px 0px 50px rgb(255, 255, 255);
    outline: 3px solid rgb(79, 255, 56);
}

/* caixas de conteúdos */
.content_box{
    position: absolute;
    margin-top: 18rem;
    /* background-color: rgb(21, 21, 63); */
    text-align: center;
    width: 100%;
    left: 0;
    padding: 1rem;
    /* cursor: pointer; */
    opacity: 0;
    transition: 0.3s ease-in-out;
    z-index: 1;
}

.show_content_box{
    opacity: 1;
    transition: 0.3s ease-in-out;
    z-index: 99;
} 

/* Nosso App */
#nosso-app{
    display: flex;
    gap: 2rem;
    align-items: end;
}

/* descrição */
.app-descri{
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 70vh;
    padding: 2rem;
    text-align: justify;
    color: #d4d4d4;
    overflow: auto;
    top: 5rem;
    box-shadow: 0 5px 5px black;
}

.app-descri::-webkit-scrollbar{
    width: 0.5rem;
}

.app-descri::-webkit-scrollbar-track {
    background-color: rgb(26, 26, 26);
    border-radius: 0.5rem;      
}

.app-descri::-webkit-scrollbar-thumb {
    background: rgb(63, 63, 63);  
    border-radius: 20px;
    cursor: pointer;         
}

.descri-title{
    font-size: 3rem;
}

.app-descri h2{
    margin-bottom: 2rem;
}


.app-descri p{
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

/* caixa de acesso */
.acess_box{
    /* background-color: goldenrod; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
    right: 1rem;
    width: 40%;
    height: 70vh;
    transition: 0.3s;
}

.acess_box video{
    width: 100%;
    transition: 0.3s;
    border-radius: 1rem;
    box-shadow: 0 5px 5px black;

}

.content-acess-btns{
    /* background-color: tomato; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.acess-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    /* background-color: #141316; */
    /* box-shadow: 0 5px 5px black; */
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    
}

.acess-btn span{
    display: block;
    color: rgb(81, 136, 238);
    font-size: 1rem;
}

.acess-btn:hover{
    scale: 1.01;
    box-shadow: 0 7px 20px black;
    background-color: #252525;
}

#playstorebtn, #applestorebtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    transition: 0.3s;
}

/* Assessoria de marketing */



/* Desenvolvimento web */
.hello_title{
    /* background-color: tomato; */
    width: 100%;
    text-align: start;
    font-size: 3rem;
    margin-left: 2rem;
    cursor: pointer;

}

.hello_title span{
    color: rgb(62, 62, 179);
    font-weight: bold;
}

.web-dev{
    /* background-color: aquamarine; */
    width: 95%;
    height: 100%;
    margin-left: 2rem;
    display: flex;
}

.web-itens-menu{
    width: 20rem;
    height: 100%;
    border-right: 1px solid rgb(90, 90, 90);
    
}

.web-list{
    list-style: none;
}

.web-list li{
    text-align: start;
    font-size: 1.7rem;
    margin-top: 2rem;
    padding-left: 1rem;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s;
}

.web-list li:hover{
    opacity: 1;
}

.web-dev-itens{
    /* background-color: purple; */
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;

}

/* --------------Dev Web - Intro */

.dev-iten{
    /* background-color: seagreen; */
    min-width: 80vw;
    max-height: 70vh;

}

.dev-iten article{
    
    width: 80%;
    max-height: 70vh;
    padding: 2rem;
    text-align: justify;
    color: #d4d4d4;
    overflow: auto;
}

.dev-iten article::-webkit-scrollbar{
    width: 0.5rem;
}

.dev-iten article::-webkit-scrollbar-track {
    background-color: rgb(26, 26, 26);
    border-radius: 0.5rem;      
}

.dev-iten article::-webkit-scrollbar-thumb {
    background: rgb(63, 63, 63);  
    border-radius: 20px;
    cursor: pointer;         
}

.dev-iten article h1{
    padding-left: 1rem;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.dev-iten article p{
    margin-bottom: 2rem;
}

.dev-iten article h2{
    margin-bottom: 1rem;
}




