

@media screen and (max-width: 800px){

    .cont-serv-list{
        /* background-color: tomato; */
        padding: 8rem 5rem;
        width: 100vh;
    }

    /* nosso app */
    #nosso-app{
        display: block;
        gap: 2rem;
        align-items: start;
        margin-top: 32rem;
    }

    .app-descri{
        display: block;
        margin-bottom: 1rem;
        width: 100%;
        height: 50vh;
    }

    .acess_box{
        display: block;
        margin: auto;
        width: 100%;
        height: 50vh;
        margin-bottom: 2rem;
    }

    .content-acess-btns{
        /* background-color: tomato; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 10rem;
        margin: auto;
    }

    /* Desenvolvimento WEB */
    .hello_title{
        font-size: 2rem;
    }

    .web-list li{
        text-align: start;
        font-size: 1.5rem;
        margin-top: 2rem;
        padding-left: 0;
        opacity: 0.7;
        cursor: pointer;
        transition: 0.3s;
    }


}