
/*------------------------------------------------------GERAL---------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
}

/*REMOVE BARRA DE ROLAGEM*/
body::-webkit-scrollbar{
  display: none;
}

:root{
  font-size: 62.5%; /* 1 rem = 10px*/
}

/* SUAVISAR ROLAGEM DO SITE*/
html{
    scroll-behavior: smooth;

}

/* -------------------------------------------------- ESTILOS DA INTERFACE ------------------------------------------------*/

.interface{
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
}

#filtro{
  position: absolute;
  top: 0;
  left: 0;
  height: 400vh;
  width: 100%;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.301) 0%, rgba(0,0,0,1) 66%);
}

.container{
  height: 400svh;
  /* TEXTURA DE FUNDO*/
  --bg: radial-gradient(#000 5%, #0000 6%);
  --size: 2rem;
  /* Add your background pattern here */
  /* background-color: lightblue; */
  background-color: rgb(235, 235, 235);
  background-image: radial-gradient(#000000 5%, #ffffff00 6%),
  radial-gradient(#000 5%, #0000 6%);
  background-position: 0 0, calc(var(--size) / 2) calc(var(--size) / 2);
  background-size: var(--size) var(--size);          
  /*visibility: hidden;*/

}

.page{
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 15%;
    /*background-color: tomato;*/
    height: 100%;
    /*-webkit-box-shadow: 10px 0px 10px -6px black;
	-moz-box-shadow: 10px 0px 10px -6px black;
	box-shadow: 10px 0px 20px -6px black;*/

}

.midle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    /*background-color: rgb(99, 71, 255);*/
    height: 100%;
    z-index: 0;

}

.right-side{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: end;
    width: 15%;
    /*background-color: tomato;*/
    height: 100%;
    box-shadow: 10px 0 0 black;
    /*-webkit-box-shadow: -10px 0px 10px -6px black;
    -moz-box-shadow: -10px 0px 10px -6px black;
    box-shadow: -10px 0px 20px -6px black;*/

}


/* -------------------------------------------------- ESTILOS DO NAVEGADOR ------------------------------------------------*/

/* NAVEGADOR SUPERIOR ----------------*/
.nav-bar{
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    height: 5rem;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.89)70%,rgba(255, 255, 255, 0.685) 150%);
    box-shadow: 0 3px 10px black;
    position: fixed;
    z-index: 999;
}

.nav-bar span{
  color: rgb(163, 163, 163);
  scale: 1.2;
  /* background-color: lightblue; */
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  /* display: none; */
  right: 1rem;
  position: fixed;
}

.nav-bar span:hover{
  color: white;
}

.nav-home-item{
    /* border: 2px solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    left: 3rem;
    position: fixed;

}

.nav-home-item a{
    font-size: 3rem;
    text-decoration: none;
    color: rgb(165, 165, 165);
    transition: all 0.3s;
}

.nav-home-item a:hover{
    color: rgb(255, 255, 255);
    text-shadow: 0 2px 20px rgb(102, 102, 102);
    font-weight: 600;
}

.nav-home-item a:active{
  color: rgb(92, 92, 92);
  transition: 0.08s;
}
 
.nav-list{
  /* border: 2PX solid green; */
  margin: auto;
  width: 90%;
  padding-left: 12rem;
  padding-right: 5rem;
  display: none;
}

.nav-list ul{
  /* border: 2px solid tomato; */
  display: flex;
  justify-content: space-around;
  list-style: none;

}

.nav-item a{
  color: rgb(202, 202, 202);
  align-items: center;
  text-decoration: none;
  font-size: 1.2rem;
  transition: 0.3s;
  /* background-color: #00ccff; */
}

.nav-item a:hover{
 color: rgb(255, 255, 255);

  
}

.nav-item a:active{
  color: rgb(36, 36, 36);
  transition: 0.08s;
   
}

.login-button{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid orange; */
  min-width: 15%;
  transition: all 0.5s;
  /* border: none; */

  
}

.login-btn a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 0.5s;
  font-weight: 500;

}

.login-btn{
  height: 3rem;
  font-size: 2rem;
  border-radius: 1rem;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #CADBC0;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  right: 5rem;
  position: fixed;
  
}

.login-btn:hover{
  scale: 1.05;

}



/* NAVEGADOR MOBILE -------------------------*/
.nav-list02{
  /* border-left: 1px solid white; */
  position: fixed;
  margin-top: 5rem;
  width: 30%;
  height: 100%;
  z-index: 800;
  background-color: rgba(17, 17, 17, 0.678);
  box-shadow: -3px 5px 30px rgba(255, 255, 255, 0.445);
  border-radius: 3px;
  right: 0;
  padding-left: 2rem;
  display: none;

}

.nav-list02 li{
  list-style: none;
  margin-top: 3rem;
  width: 90%;
  height: 3rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* background-color: #000000;
  border: 1px solid rgb(99, 99, 99); */
  transition: 0.3s;

}

.nav-list02 li:hover{
  /* background-color: #414141; */
  /* border: 1px solid rgb(114, 114, 114); */
  /* color: white; */
}

.nav-list02 li a{
  font-size: 1.3rem;
  color: rgb(221, 221, 221);
  font-weight: 700;
}

.nav-list02 li a:hover{
  scale: 1.2;
  color: #03fa0f;
}



/* -------------------------------------------------- ESTILOS DOS CONTEÚDOS ------------------------------------------------*/


/* IMAGENS LATERAIS*/
.imagem-lateral{
    width: 100%;
    
    transition: 1s ease-in-out;
    filter: invert(1);

}

#img-direira-04{
    width: 90%;
}

#img-esquerda-04{
    width: 100%;
}


/* ------ TÍTULOS ------*/

.titulo{
    font-size: 2rem;
    color: white;
    /*border: 2px solid black;*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 5rem;
    margin-bottom: 5rem;

}

.span-titulo{
    color: rgb(0, 121, 0);
    
}


/* PÁGINA HOME */
.img-pg1{
    /*border: 2px solid green;*/
    display: flex;
    align-items: center;
    justify-content: center;


}

.logo-home-01{
    max-width: 60%;

}

.logo-home-02{
    max-width: 25%;

}


/* PÁGINA SOBRE NÓS */

.img-about-box-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 2px solid green;*/
    height: 50%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}

.img-about-box-btn img{

    height: 100%;
    max-width: 100%;
    transition: 1s;
    
}

.img-about-box-btn img:hover{
    scale: 1.3;
    filter: invert(1);
    
}

.img-about-box-btn img:active{
    scale: 0.9;
    
    
}

/* --- ESTILO DO MODAL SOBRE NÓS ---- */
.about-text-modal-box{
  padding: 1rem;
  display: none;
  
  
}

.about-text-modal-box.modal-aberto{
  display: flex;

}

#modal header{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 3rem;
  padding: 1rem;
  border-bottom: 1px solid #5a5a5a;
  width: 100%;
  color: #49A078;
  font-weight: 700;

}

#modal > h1{
  margin-bottom: 1rem;

}

#close-modal{
  background-color: rgb(236, 236, 236);
  border: none;
  border-radius: 50%;
  transition: all 0.2s;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  right: 10px;
  top: 10px;
  
}

#close-modal:hover{
  scale: 1.1;
  font-weight: bold;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(99, 99, 99);
  color: white;
  transition: 0.2s;
}

#close-modal:active{
  scale: 1.05;
}

#fade{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(92, 92, 92, 0.247);
  z-index: 900;
  backdrop-filter: blur(3px);
  transition: all 0.6s ease-in-out;
}

#modal{
  position: fixed;
  z-index: 901;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 80%;
  overflow-y: auto;
  background-color: #0D0A0B;
  color: rgb(192, 192, 192);
  border: 1px solid rgb(59, 59, 59);
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgb(17, 17, 17);
  font-size: 1.3rem;
  gap: 3px;
  padding: 2rem;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  text-align: justify;
}

#modal p{
  margin-bottom: 1rem;
  text-indent: 1.5rem;
  margin-bottom: 2rem;
}

@keyframes abrirmodal{
  from{
    opacity: 0;
    width: 8rem;
    height: 4.3rem;
    
  }

  to{
    opacity: 1;
    width: 90%;
    height: 80%;
    
  }
}

.modal-aberto #modal{
  animation: abrirmodal 1s;

}

@keyframes mostrartexto{

  from{

  }

  to{

  }

}

.modal-aberto #modal p{
  animation: mostrartexto 5s;

}

#modal::-webkit-scrollbar{
   width: 1.5rem;          
}

#modal::-webkit-scrollbar-track{
  background: rgb(29, 29, 29);
}

#modal::-webkit-scrollbar-thumb {
  background-color: rgb(12, 12, 12);
  border-radius: 20px;
  border: 1px solid rgb(153, 153, 153);  
}

.chave_pix_box{
  width: 100%;
  height: 30rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* background-color: tomato; */
  margin: auto;
  gap: 1rem;

}

.chave_aleatoria{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  color: white;
  
}

.chave_aleatoria h2{
  color: #216869;
}

.chave_qrcode{
  width: 40%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #216869;
}

.chave_qrcode img{
  width: 15rem;
  border-radius: 10px;
}


/* PÁGINA NOSSOS CONTEÚDOS*/
/* css a parte */

/* PÁGINA NOSSOS CONTATOS */

.contact-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    width: 100%;
    margin-bottom: 10rem;
  
}




